trio==0.27.0
jupyter-lsp==2.2.5
mypy==1.13.0
jsonschema==4.23.0
click==8.1.7
pydantic==2.10.3
async-timeout==4.0.3
jupyter-events==0.10.0
pytest==8.3.3
prometheus_client==0.21.1
bitsandbytes==0.43.1
psutil==6.1.0
hjson==3.1.0
ultralytics-thop==2.0.13
pyparsing==3.2.0
sentry-sdk==2.19.2
safetensors==0.4.5
tornado==6.4.2
smmap==5.0.1
python-json-logger==3.2.1
ipykernel==6.29.5
lazy_loader==0.4
Levenshtein==0.26.1
pillow==10.2.0
tensorboard==2.18.0
jupyter_server==2.14.2
yarl==1.9.4
ninja==1.11.1.3
cycler==0.12.1
jsonschema-specifications==2024.10.1
setproctitle==1.3.4
argon2-cffi==23.1.0
pynvml==12.0.0
docker-pycreds==0.4.0
idna==3.4
ml_dtypes==0.5.0
qwen-vl-utils==0.0.8
pandocfilters==1.5.1
traitlets==5.14.3
triton==2.1.0
torch==2.1.2+cu118
decorator==5.1.1
rfc3986-validator==0.1.1
nest-asyncio==1.6.0
selenium==4.12.0
jedi==0.19.2
multiprocess==0.70.16
defusedxml==0.7.1
Markdown==3.7
parso==0.8.4
babel==2.16.0
networkx==3.2.1
platformdirs==4.3.6
ultralytics==8.3.50
stack-data==0.6.3
kiwisolver==1.4.7
bleach==6.2.0
annotated-types==0.7.0
pyarrow-hotfix==0.6
packaging==24.1
huggingface-hub==0.27.0
multidict==6.0.5
fsspec==2024.2.0
frozenlist==1.4.1
jupyter_core==5.7.2
py-cpuinfo==9.0.0
nbclient==0.10.1
notebook_shim==0.2.4
Send2Trash==1.8.3
types-python-dateutil==2.9.0.20241206
uri-template==1.3.0
aiosignal==1.3.1
gitdb==4.0.11
jupyter_client==8.6.3
comm==0.2.2
filelock==3.13.1
scipy==1.14.1
sniffio==1.3.1
jaxlib==0.4.36
prompt_toolkit==3.0.48
pandas==2.2.2
certifi==2022.12.7
debugpy==1.8.11
userpath==1.9.2
jupyterlab_server==2.27.3
isoduration==20.11.0
typing_extensions==4.12.2
jsonpointer==3.0.0
MarkupSafe==2.1.5
asttokens==3.0.0
scikit-image==0.25.0
tqdm==4.66.4
soupsieve==2.6
xxhash==3.4.1
joblib==1.4.2
pexpect==4.9.0
argcomplete==3.4.0
datasets==3.2.0
grpcio==1.68.1
sympy==1.13.1
jax==0.4.37
transformers==4.47.0
fastjsonschema==2.21.1
PyYAML==6.0.1
nbformat==5.10.4
opt_einsum==3.4.0
jupyterlab_pygments==0.3.0
referencing==0.35.1
contourpy==1.3.1
pyarrow==17.0.0
arrow==1.3.0
RapidFuzz==3.10.1
pipx==1.6.0
rfc3339-validator==0.1.4
pluggy==1.5.0
tzdata==2024.1
threadpoolctl==3.5.0
Jinja2==3.1.3
seaborn==0.13.2
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118
sortedcontainers==2.4.0
tensorboard-data-server==0.7.2
fqdn==1.5.1
mistune==3.0.2
peft==0.14.0
six==1.16.0
trio-websocket==0.11.1
scikit-learn==1.6.0
iniconfig==2.0.0
nbconvert==7.16.4
tinycss2==1.4.0
cffi==1.17.1
dill==0.3.8
terminado==0.18.1
beautifulsoup4==4.12.3
hypothesis==6.118.8
pytz==2024.1
fonttools==4.55.3
jupyter_server_terminals==0.5.3
mpmath==1.3.0
argon2-cffi-bindings==21.2.0
matplotlib-inline==0.1.7
bpe==1.0
ptyprocess==0.7.0
json5==0.10.0
regex==2024.11.6
nltk==3.9.1
wcwidth==0.2.13
urllib3==1.26.13
python-dateutil==2.9.0.post0
async-lru==2.0.4
av==14.0.1
pycparser==2.22
pyzmq==26.2.0
jupyterlab==4.3.3
pycocotools==2.0.8
charset-normalizer==2.1.1
wsproto==1.2.0
tifffile==2024.12.12
opencv-python==4.10.0.84
rpds-py==0.22.3
accelerate==0.30.1
Pygments==2.18.0
pure_eval==0.2.3
websocket-client==1.8.0
deepspeed==0.13.1
ipython==8.30.0
webcolors==24.11.1
outcome==1.3.0.post0
nvidia-ml-py==12.560.30
exceptiongroup==1.2.2
imageio==2.36.1
tomli==2.2.1
tokenizers==0.21.0
pydantic_core==2.27.1
executing==2.1.0
attrs==23.2.0
toolz==1.0.0
aiohttp==3.9.5
matplotlib==3.10.0
Werkzeug==3.1.3
protobuf==5.29.1
wandb==0.19.1
PySocks==1.7.1
numpy==1.26.3
overrides==7.7.0
webencodings==0.5.1
absl-py==2.1.0
azureml-dataprep==5.1.6
langcodes==3.4.1
jupyter-lsp==2.2.5
azureml-telemetry==1.56.0
itsdangerous==2.2.0
jupyterlab==4.2.4
requests-oauthlib==2.0.0
cffi==1.16.0
ecdsa==0.19.0
jsonschema==4.23.0
ipywidgets==8.1.5
pip==24.2
mdurl==0.1.2
humanfriendly==10.0
jupyter-events==0.10.0
PyNaCl==1.5.0
jeepney==0.8.0
msal==1.30.0
nvidia-nvjitlink-cu12==12.4.127
wrapt==1.16.0
azure-mgmt-resource==21.1.0
rouge_score==0.1.2
passpy==1.0.2
h11==0.14.0
hjson==3.1.0
nvidia-cusolver-cu12==11.6.1.9
petname==2.7.post1
httpx==0.27.0
smmap==5.0.1
huggingface-hub==0.26.2
azureml-core==1.56.0
humanize==4.10.0
cryptography==43.0.0
ipykernel==6.29.5
lazy_loader==0.4
thinc==8.3.2
bitarray==2.9.2
soupsieve==2.5
datasets==3.1.0
widgetsnbextension==4.0.13
GitPython==3.1.14
nvidia-cuda-runtime-cu12==12.4.127
srsly==2.4.8
jupyter_server==2.14.2
Brotli==1.1.0
Markdown==3.6
wandb==0.17.6
jupyterlab_widgets==3.0.13
tifffile==2024.7.24
azureml-train-restclients-hyperdrive==1.56.0
python-json-logger==2.0.7
backports.tarfile==1.2.0
numpy==1.26.4
json5==0.9.25
cycler==0.12.1
requests-ntlm==1.1.0
jaraco.context==5.3.0
ninja==1.11.1.1
argon2-cffi==23.1.0
keyring==25.2.1
sshpubkeys==3.3.1
mutagen==1.47.0
docker-pycreds==0.4.0
ftfy==6.2.0
qwen-vl-utils==0.0.8
pandocfilters==1.5.1
traitlets==5.14.3
distro==1.9.0
adal==1.2.7
catalogue==2.0.10
fast-slic==0.4.0
liger_kernel==0.4.2
Flask-Executor==1.0.0
rfc3986-validator==0.1.1
azure-mgmt-containerregistry==10.0.0
nest-asyncio==1.6.0
gensim==4.3.3
selenium==4.12.0
azure-containerregistry==1.0.0
strictyaml==1.7.3
azure-core==1.30.2
multiprocess==0.70.16
pydantic_core==2.20.1
isodate==0.6.1
pathspec==0.12.1
defusedxml==0.7.1
murmurhash==1.0.10
chart-studio==1.1.0
anyio==4.4.0
nvidia-cublas-cu12==12.4.5.8
azureml-dataprep-native==41.0.0
parso==0.8.4
safetensors==0.4.3
sentry-sdk==2.12.0
kaleido==0.2.1
jiter==0.7.0
pydash==8.0.3
contourpy==1.2.1
pybind11==2.13.6
bitsandbytes==0.43.3
idna==3.10
charset-normalizer==3.4.0
Mako==1.3.5
retrying==1.3.4
bert-score==0.3.13
et_xmlfile==2.0.0
shellingham==1.5.4
ntlm-auth==1.5.0
stack-data==0.6.3
fonttools==4.53.1
colorlog==6.9.0
google-api-core==2.19.1
torch==2.5.1
annotated-types==0.7.0
transformers==4.48.0.dev0
botocore==1.35.54
pyperclip==1.9.0
azureml-dataset-runtime==1.56.0
jupyter_core==5.7.2
py-cpuinfo==9.0.0
wasabi==1.1.3
nvidia-cufft-cu12==11.2.1.3
knack==0.11.0
preshed==3.0.9
pyOpenSSL==24.2.1
azure-storage-file-share==12.17.0
dataclasses-json==0.6.7
paramiko==3.4.0
notebook_shim==0.2.4
Send2Trash==1.8.3
yt-dlp==2024.8.6
uri-template==1.3.0
gitdb==4.0.11
ultralytics-thop==2.0.0
jax==0.4.31
comm==0.2.2
nvidia-cudnn-cu12==9.1.0.70
pynvml==11.5.3
platformdirs==4.2.2
azure-storage-file-datalake==12.16.0
sniffio==1.3.1
opencensus==0.11.4
blis==1.0.1
jupyterlab_server==2.27.3
isoduration==20.11.0
fastjsonschema==2.20.0
timm==1.0.11
conda-pack==0.8.0
Levenshtein==0.25.1
psutil==6.0.0
pydantic==2.8.2
torchvision==0.20.1
spacy-legacy==3.0.12
azure-identity==1.17.1
typing_extensions==4.12.2
jsonpointer==3.0.0
jedi==0.19.1
h5py==3.12.1
marshmallow==3.23.1
joblib==1.4.2
pexpect==4.9.0
nvidia-cusparse-cu12==12.3.1.170
websockets==13.0
azure-graphrbac==0.61.1
backports.weakref==1.0.post1
executing==2.0.1
typer==0.13.0
av==13.1.0
Flask-FontAwesome==0.1.5
azure-keyvault==4.2.0
azure-storage-blob==12.21.0
sympy==1.13.1
scipy==1.13.1
jsonpickle==3.2.2
googleapis-common-protos==1.63.2
language_evaluation==0.1.0
liger_kernel_nightly==0.3.1.dev20241105010508
marisa-trie==1.2.1
ndg-httpsclient==0.5.1
azure-keyvault-secrets==4.8.0
decord==0.6.0
opencensus-context==0.1.3
nvidia-cuda-nvrtc-cu12==12.4.127
opencensus-ext-azure==1.1.13
spacy==3.8.2
nvidia-nvtx-cu12==12.4.127
moviepy==1.0.3
clip==1.0
deepspeed==0.15.4
pycocoevalcap==1.2
nbformat==5.10.4
msrestazure==0.6.4
jupyterlab_pygments==0.3.0
referencing==0.35.1
pyasn1_modules==0.4.0
jsonschema-specifications==2023.12.1
wheel==0.44.0
bcrypt==4.2.0
kiwisolver==1.4.5
arrow==1.3.0
proto-plus==1.24.0
Flask-Cors==4.0.1
tinycss2==1.3.0
ipython==8.26.0
rfc3339-validator==0.1.4
click-option-group==0.5.6
threadpoolctl==3.5.0
seaborn==0.13.2
SecretStorage==3.3.3
google-auth==2.32.0
matplotlib==3.9.1
azure-mgmt-network==20.0.0
blinker==1.8.2
azureml-k8s-mt==1.0.6b1
sortedcontainers==2.4.0
mypy-extensions==1.0.0
iopath==0.1.10
tensorboard-data-server==0.7.2
fqdn==1.5.1
rpds-py==0.19.0
s3transfer==0.10.3
mistune==3.0.2
azure-mgmt-storage==20.0.0
tornado==6.4.1
typing-inspect==0.9.0
rsa==4.9
opencensus-ext-logging==0.1.1
trio-websocket==0.11.1
cachetools==4.2.4
azureml-contrib-k8s==0.1.18
cymem==2.0.8
azure-mgmt-core==1.3.0
nbconvert==7.16.4
more-itertools==10.3.0
sentencepiece==0.2.0
nbclient==0.10.0
smart-open==7.0.5
httpcore==1.0.5
zipp==3.19.2
tenacity==9.0.0
dill==0.3.8
webcolors==24.6.0
tiktoken==0.7.0
portalocker==2.10.1
en_core_web_sm==3.8.0
terminado==0.18.1
prompt_toolkit==3.0.47
beautifulsoup4==4.12.3
scikit-image==0.24.0
asttokens==2.4.1
backports.tempfile==1.0
tabulate==0.9.0
py-spy==0.4.0
jupyter_server_terminals==0.5.3
jupyter_client==8.6.2
filelock==3.16.1
ml-dtypes==0.4.0
argon2-cffi-bindings==21.2.0
jmespath==1.0.1
openpyxl==3.1.5
msgpack==1.1.0
matplotlib-inline==0.1.7
ultralytics==8.2.68
rapidfuzz==3.9.4
nvidia-nccl-cu12==2.21.5
ptyprocess==0.7.0
evaluate==0.4.3
confection==0.1.5
tomli==2.0.1
urllib3==1.26.19
azure-keyvault-certificates==4.8.0
protobuf==4.25.4
tensorboard==2.17.0
nltk==3.9.1
boto3==1.35.54
wcwidth==0.2.13
dotnetcore2==3.1.23
trio==0.26.2
weasel==0.4.1
azureml-contrib-aisc==1.56.0
async-lru==2.0.4
azure-data-tables==12.4.0
pyasn1==0.6.0
pycparser==2.22
pycryptodomex==3.20.0
azure-mgmt-authorization==2.0.0
pycocotools==2.0.8
azure-ai-ml==1.18.0
msal-extensions==1.2.0
ace_tools==0.0
wsproto==1.2.0
Babel==2.15.0
pkginfo==1.11.1
msrest==0.6.21
opencv-python==4.10.0.84
requests==2.32.3
Werkzeug==3.0.3
accelerate==0.30.1
Pygments==2.18.0
jaraco.classes==3.4.0
azure-mgmt-keyvault==10.0.0
peft==0.11.1
asteval==1.0.1
pure_eval==0.2.3
xdg==6.0.0
oauthlib==3.2.2
certifi==2024.8.30
azureml-train-core==1.56.0
importlib_metadata==8.2.0
setproctitle==1.3.3
amlt==10.5.7
Flask==2.3.3
cloudpathlib==0.20.0
websocket-client==1.8.0
spacy-loggers==1.0.5
warmup_scheduler==0.3
imageio==2.34.2
imageio-ffmpeg==0.5.1
lvis==0.5.3
pyzmq==26.0.3
prometheus_client==0.20.0
PyJWT==2.8.0
triton==3.1.0
outcome==1.3.0.post0
nvidia-ml-py==12.560.30
contextlib2==21.6.0
nvidia-curand-cu12==10.3.5.147
exceptiongroup==1.2.2
opt-einsum==3.3.0
debugpy==1.8.2
openai==1.53.0
regex==2024.5.15
grpcio==1.65.4
jaraco.functools==4.0.1
git-filter-repo==2.45.0
bitstring==4.2.3
colorama==0.4.6
tokenizers==0.21.0
bleach==6.1.0
azure-keyvault-keys==4.9.0
proglog==0.1.10
nvidia-cuda-cupti-cu12==12.4.127
python-gnupg==0.5.2
pyparsing==3.1.2
click-plugins==1.1.1
plotly==5.24.1
cloudpickle==2.2.1
notebook==7.2.2
Cython==3.0.10
rich==13.7.1
pytorch-warmup==0.1.1
azure-common==1.1.28
PySocks==1.7.1
docker==7.1.0
applicationinsights==0.11.10
jaxlib==0.4.31
overrides==7.7.0
markdown-it-py==3.0.0
types-python-dateutil==2.9.0.20240316
azureml-dataprep-rslex==2.22.2
rich-click==1.8.3
scikit-learn==1.5.2
einops==0.8.0
setuptools==75.2.0
language_data==1.2.0
webencodings==0.5.1
decorator==4.4.2
transformers-stream-generator==0.0.5
ego4d==1.7.3
absl-py==2.1.0
